@import "../common/styles/sass/variables";

.contactsBlock {
    height: 100vh;
    background-color: $BackgroundColor2;
    flex-wrap: wrap;
    .contactsContainer {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        .contactsForm{
            flex-wrap: nowrap;
            max-width: 70vh;
            max-height: 40vh;
            font-family: $DescriptionFontFamily;
            line-height: 35px;
            letter-spacing: 0.8px;


            color: #f1ecec;


        }
        .contactsForm textarea, input {
            width: 40vh;
            margin-bottom: 1rem;

        }
    }

}











