.contactsBlock {
    height: 100vh;
    background-color: #bdcdcd;
    flex-wrap: wrap;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.contact {
    background-color: cyan;
}



.contactsForm{
    border: 1px solid;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.contactsForm textarea, input {
    width: 40vh;
    margin-bottom: 1rem;

}


