@import "../../common/styles/sass/variables";
.nav {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 1.2;
    color: $MainTextColor;
    cursor: pointer;
}