.skill {
    flex:1 0 250px;
    background-color: #2d3535;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 3.7rem;
    .icon {
        height: 65px;
        width: 70px;
        background-color: antiquewhite;
        background-size: cover;
        background-position: center;


    }
    .title {
        font-family: 'Josefin Sans', sans-serif;
        letter-spacing: 1px;
        line-height: 1.2;
        margin-bottom: 15px;
        font-size: 18px;
        color: red;
    }
    .description {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 1.8;
        letter-spacing: 1px;
        margin: 0 0 5px;
        font-weight: 400;
        color: antiquewhite;
    }
}





