.job {
    flex: 450px;
    background-color: #181A1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    .icon {
        height: 55vh;
        width: 70%;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

    }
    .icon::before {
        position: absolute;
        content: '';
        background-color: black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.1;
    }
    .projectTitle {
        font-family: 'Josefin Sans', sans-serif;
        letter-spacing: 1px;
        line-height: 1.2;
        margin-bottom: 15px;
        font-size: 18px;
        color: red;
    }
    .description {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 1.8;
        letter-spacing: 1px;
        margin: 0 0 5px;
        font-weight: 400;
        color: antiquewhite;
    }
    .bottom {
        background-color: black;
        color: red;
        border-radius: 10vh;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        position: relative;
        z-index: 1;
    }
}









