@import "../common/styles/sass/variables";

.jobsBlock {
  min-height: 100vh;
  background-color: $BackgroundColor1;

  .jobsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .jobs {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;
      margin-bottom: 15px;
      font-size: 16px;
      font-family: 'Josefin Sans', sans-serif;
      color: $DescriptionTextColor;
      @media screen and (min-width: 1129px) {
        justify-content: center;
      }
    }
  }

}









