.skillsBlock {
    min-height: 100vh;
    background-color: cornflowerblue;

}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;


}

.title {
    background-color: cyan;
}

.skills {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;







}

