.skillsBlock {
    min-height: 100vh;
    background-color: #181A1A;

}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;


}

.title {

    color: red;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;







}

