@import "../common/styles/sass/variables";
.skillsBlock {
    min-height: 100vh;
    background-color: $BackgroundColor2;
    .skillsContainer {
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
        .skills {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            width: 100%;









        }


    }

}






