@import "../common/styles/sass/variables";

.mainBlock {
    height: 100vh;
    background-color: $BackgroundColor1;
    color: $MainTextColor;
    .text {
        width: 300px;
        background-color: $DescriptionTextColor;
        font-family: 'Josefin Sans', sans-serif;
        letter-spacing: 5px;
        line-height: 1.2;
    }
    .photo {
        width: 300px;
        height: 400px;
        background-color: $DescriptionTextColor;
    }
}





