@import "../common/styles/sass/variables";

.mainBlock {
  height: 100vh;
  background-color: $BackgroundColor1;
  color: floralwhite;

  .particles {
    position: absolute;

    opacity: 0.3;
  }


  .text {
    width: 300px;
    background-color: $BackgroundColor1;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 5px;
    line-height: 1.2;
  }

  .photo {
    width: 400px;
    height: 400px;
    background-color: #1d1d1f;
    background-size: cover;
  }


}





