.mainBlock {
    height: 100vh;
    background-color: #2d3535;
    color: red;
}

.text {
    width: 300px;
    background-color: hotpink;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: hotpink;
}

