$MainTextColor: red;
$DescriptionTextColor: antiquewhite;
$BackgroundColor1: #2d3535;
$BackgroundColor2: #181A1A;
$DescriptionFontFamily: 'Poppins', sans-serif;
$TitleFontFamily: 'Josefin Sans', sans-serif;