$MainTextColor: #de0d0d;
$DescriptionTextColor: floralwhite;
$BackgroundColor1: #51514e;
$BackgroundColor2: #1d1d1f;
$DescriptionFontFamily: 'Poppins', sans-serif;
$TitleFontFamily: 'Josefin Sans', sans-serif;

