@import "../common/styles/sass/variables";
.ul {
    display: flex;
    justify-content: space-between;
    max-width: 100vh;
    max-height: 100vh;
    flex-wrap: wrap;
    padding-bottom: 10px;




}

.block {
    display: flex;
    justify-content: space-evenly;
    min-width: 10vh;
    flex-wrap: wrap;
    color: $MainTextColor;



}